*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug*/


/* Utility */

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}


.scroll{
    overflow-y: scroll;
}

.d-none{
    display: none;
}



/* inizio CSS */

html{
    font-family: 'Open Sans', sans-serif;
}

main{
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #141922;
}

/* aside*/
/* da sistemare*/
aside{
    width: 60px;
    background-color: black;
    height: calc(100vh - 100px);
    flex-direction: column;
    min-height: 120px;
    overflow: hidden;
    padding: 0 13px;
}

aside .aside-top{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside .aside-bottom{
    height: 70px;
}

aside .aside-nav{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

aside .playlist-main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside .playlist-main ul{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

aside #logo img{
    width: 100%;
    margin: 5px 0 10px;
}


.aside-bottom .profil img{
    background-color: #808080;
    border-radius: 50%;
}

.aside-bottom .install{
    text-align: center;
}

.aside-bottom .install img{
    width: 20px;
}

/*fine aside*/

.cta{
    position: fixed;
    top: 0;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 60px);
    height: 80px;
    z-index: 999;
    text-align: right;
    line-height: 80px;
}

.content .cta a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    padding: 7px 30px;
    margin-right: 25px;
    font-size: 12px;
}

.content-nav a{
    text-decoration: none;
    color: #7d7f84;
    font-weight: 700;
}

.content-nav ul li{
    position: relative;
}

.content-nav ul li:nth-child(1)::before{
    content: "";
    background-color: yellowgreen;
    position: absolute;
    bottom: 0;
    left: 43px;
    height: 3px;
    width: 40px;
}


.content{
    width: calc(100% - 60px);
    height: 100%;
}

.content-nav{
    margin-top: 90px;
}

.content-nav ul{
    justify-content: center;
}

.content-nav li{
    list-style: none;
    padding: 15px 10px 10px;

}


section h2{
    color: white;
    margin: 20px 0 5px;
}

section h4{
    color: white;
    margin: 7px 0;
}

section>ul{
    margin-top: 15px;
}

section .cover-item{
    list-style: none;
    width: 50%;
    text-align: center;
    padding: 10px;
}


section,.content-nav{
    padding: 0 1rem;
}


.cover-container img {
    width: 100%;
}

section span{
    color: #7a7d81;
}

section:last-child .cover-container img{
    object-fit: cover;
    border-radius: 50%;
}


footer{
    background-color: #282828;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 7px;
}

footer .title{
}

footer .left{
    align-items: center;
}

footer .left span {
    color: #6a6a6a;
}

footer img{
    height: 35px;
    margin-right: 7px;
}

footer h5{
    font-size: 15px;
}

footer .title span{
    font-size: 13px;
}

footer #btn i{
    padding-left: 10px;
}

footer #top-mid{
    text-align: center;
    font-size: 20px;
    margin: -15px 0 15px;
}

footer #top-mid i:nth-child(3){
    padding: 0 5px;
    font-size: 25px;
}

footer #top-mid i:nth-child(2n+2){
    padding: 0 5px;
}

footer #lower-mid span{
    padding: 0 10px;
}


footer .charge-bar{
    align-self: center;
}

footer .charge-bar .behind{
    background-color: #5a5a5a;
    position: relative;
    height: 5px;
    width: 100px;
    border-radius: 10px;
}

footer .charge-bar .front{
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    border-radius: 10px;
}

footer .charge-bar.volume .behind{
    width: 30px;
}

footer .right i{
    padding-right: 10px;
}



@media screen and (min-width:576px){
    aside{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }

    .cta{
        left: 200px;
        width: calc(100% - 200px);
    }

    footer img{
        height: 50px;
    }
    
    footer #btn {
        padding-left: 25px;
    }

    
    footer #top-mid i:nth-child(3){
        padding: 0 10px;
    }

    footer #top-mid i:nth-child(2n+2){
        padding: 0 10px;
    }

    #logo img:first-child{
        display: none;
    }

    #logo img:last-child{
        margin: 20px 0;
    }

    .d-none{
        display: inline-block;
    }

    .aside-top img{
        width: 30px;
        vertical-align: middle;
    }

    .aside-top span{
        vertical-align: middle;
    }

    .aside-top li{
        padding-top: 10px;
    }

    .aside-nav>ul li:first-child span{
        color: white;
    }

    .aside-nav>ul li{
        position: relative;
    }
    
    .aside-nav>ul::after{
        content: "";
        background-color: yellowgreen;
        position: absolute;
        top: 98px;
        left: 0;
        height: 40px;
        width: 3px;
    }

    
    aside span,.playlist-main ul{
        color: #575757;
        font-weight: 900;
    }

    .playlist-main h3{
        color: white;
        padding-top: 20px;
    }

    .aside-bottom .profil,.aside-bottom .install{
        display: flex;
        align-items: center;
    }

    .aside-bottom .profil{
        border-top: 1px solid #717171;
        padding-top: 10px;
        margin-top: 10px;
    }

    .aside-bottom .profil img{
        width: 30px;
    }

    .aside-bottom img{
        margin-right: 10px;
    }

    .aside-bottom .install{
        text-align: left;
    }

    
    aside .aside-top{
        height: calc(100% - 85px);
    }

    aside .aside-bottom{
        height: 85px;
    }

    .playlist-main span i{
        background-color: #a3a3a3;
        font-size: 25px;
        padding: 8px;
        margin: 10px 10px 0 0;
    }


}

@media screen and (min-width:768px){
    section .cover-item{
        width: 25%;
    }

    footer .charge-bar .behind{
        width: 200px;
    }

    footer .charge-bar.volume .behind{
        width: 80px;
    }
}

@media screen and (min-width:992px){
    section .cover-item{
        width: calc(100% / 6);
    }

    footer .charge-bar .behind{
        width: 300px;
    }

    footer .charge-bar.volume .behind{
        width: 100px;
    }
}