*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug*/

.debug main{
    background-color: sienna;
}

.debug .container{
    background-color: peru;
}

.debug .content-nav ul{
    background-color: aqua;
}

.debug section ul{
    background-color: orangered;
}

.debug .cover-container{
    background-color: aqua;
    padding: 10px;
}

.debug .cover-item{
    background-color: orange;
}

.debug .aside-bottom{
    background-color: blue;
}

.debug footer .box{
    display: inline-block;
}

.debug .box {
    background-color: white;
}


/* Utility */

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}


.scroll{
    overflow-y: auto;
}



/* inizio CSS */

html{
    font-family: 'Open Sans', sans-serif;
}

main{
    height: calc(100vh - 100px);
}

.cta{
    position: fixed;
    top: 0;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(100% - 50px);
    height: 80px;
    z-index: 999;
    text-align: right;
    line-height: 80px;
}

aside{
    width: 50px;
    background-color: black;
    height: calc(100vh - 144px);
    overflow: hidden;
}

aside .aside-bottom{
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 50px;
}



.content{
    width: calc(100% - 50px);
    height: 100%;
}

.content-nav{
    margin-top: 100px;
}

.content-nav ul{
    justify-content: center;
}

.content-nav li{
    list-style: none;
    padding: 20px;

}

section .cover-item{
    list-style: none;
    width: 50%;
}

section,.content-nav{
    padding: 0 1rem;
}


footer{
    background-color: #282828;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

footer #top-mid{
    text-align: center;
}

@media screen and (min-width:576px){
    aside{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }

    .cta{
        left: 200px;
        width: calc(100% - 200px);
    }

    aside .aside-bottom{
        width: 200px;
    }

}

@media screen and (min-width:768px){
    section .cover-item{
        width: 25%;
    }
}

@media screen and (min-width:992px){
    section .cover-item{
        width: calc(100% / 6);
    }
}